/* ! Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
}

.flex_wrap{
    flex-wrap: wrap;
}

.flex_col{
    flex-direction: column;
}

.flex_row{
    flex-direction: row;
}


.flex_end{
    justify-content: end;
}

.flex_center{
    justify-content: center;
    align-items: center;
}

.flex_eve{
    justify-content: space-between;
}


.filter{
    padding:1rem;
    font-size: .6rem;
    font-weight: 600;
}

.white_text {
    color:white;
}

.gray_text {
    color:gray;
}

.upgrade button {
    color: white;
    background: none;
    padding: 0 2rem;
    height: 2.5rem;
    border: 1px solid white;
    border-radius: 25px;
    font-size: .8rem;
    text-transform: uppercase;
    align-self: center;
}



nav {
    margin-top: .5rem;
    padding: .5rem;
}

.filter ul li {
    list-style: none;
    display: inline;
    padding: .5rem;
    text-transform: uppercase;
    color:gray;
}

 ul li {
    list-style: none;
    display: inline;
    padding: .3rem 0;
    color:#5C5C5C;
}

ul li span {
    padding-left: 0.5rem;
    font-size: .8rem;
    vertical-align: text-top;
    font-weight: 700;
    color:#5C5C5C;
}
ul li img {
    margin-left: 0.5rem;

}


img {
    fill:#5C5C5C;
}

.home_icon,
.search_icon,
.library_icon {
    /* filter: brightness(0.5); */
    
}





.hover_gray:hover {
    filter: brightness(1);
    color: white;
}








.playlist{
    color:white;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 0.5rem 0;
    
}

.add_icon{
    padding-left: 0.5rem;
    font-size: 40px;

}


.add_playlist{
    vertical-align: super;


}






header{
    width: 200px;
    height: calc(100vh - 90px);
    background-color: black;
}

.main_logo { 
    width: 170px;
    /* height: 100% */;
    padding: 1rem;
}


ul li img {
    width: 20px;
}

main{
    width: calc(100% - 200px);
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow-y: scroll;
}


.upgrade{
    width: 100%;
    height: 90px;
    background-color: black;
    padding: 1rem;

}




.played,
.created,
.pop {
    padding: 1rem;
}

.wrapper {
    width: 100%;

}

.title {
    margin-bottom: 1rem;
    
}

.album{
    width: calc(100% / 6 - 1rem);
    margin: .5rem;
}

.album img {
    width: 100%;
}

.album h4{
    padding-top: .5rem;
}

.album p{
    padding-top: .5rem;
}

.album_created{
    /*  width: 160px; */
     margin: .5rem;
     width: calc(100% / 6 - 1rem);
 }
 .album_created img {
    width: 100%;
}

.album_pop{
    /*  width: 160px; */
     margin: .5rem;
     width: calc(100% / 6 - 1rem);
 }
 .album_pop img {
    width: 100%;
}




.rounded {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 160px;

}
.rounded img{
    width:100%;
    height:100%;
    object-fit: cover;
  }



footer{
    height: 90px;
    width: 100vw;
    background-color: #282828;
}



/* Media Query */

/* L */
@media (max-width: 992px) { 

    .wrapper{
        flex-wrap: wrap;
    
     }
     .album,
     .album_created,
     .album_pop{
        width: calc(100% / 4 - 1rem);
        margin: .5rem;
     }
    
 }





/* MD */
@media (max-width: 768px) { 

     .wrapper{
        flex-wrap: wrap;
    
     }
     .album,
     .album_created,
     .album_pop{
        width: calc(100% / 2 - 1rem);
        margin: .5rem;
     }
 }



/* S */
@media (max-width: 576px) { 

    .wrapper,
    .filter{
        flex-wrap: wrap;
    
     }

     .album,
     .album_created,
     .album_pop{
        width: calc(100% / 2 - 1rem);
        margin: .5rem;
     }
    
 }



/* XS */
@media (max-width: 576px) { 

    header{
        width: 60px;
    
    }
    
    main{
        width: calc(100% - 60px);
    }

    .wrapper_content,
    .filter{
        flex-wrap: wrap;
    
     }

     .album,
     .album_created,
     .album_pop{
        width: calc(100% / 2 - 1rem);
        margin: .5rem;
     }



 }

 



