/* ! Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.flex_wrap{
    flex-wrap: wrap;
}


header{
    width: 233px;
    height: calc(100vh - 100px);
    background-color: black;
    

}


main{
    width: calc(100% - 233px);
    height: calc(100vh - 100px);
    background-color: #141922;
    overflow-x: scroll;
}

footer{
    height: 100px;
    width: 100vw;
    background-color: #282828;
}
