/* ! Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

.flex{
    display: flex;
}

.flex_wrap{
    flex-wrap: wrap;
}

.flex_col{
    flex-direction: column;
}

.flex_row{
    flex-direction: row;
}

.flex_align_center {
    align-items: center;
}

.flex_end{
    justify-content: end;
}

.flex_center{
    justify-content: center;
    align-items: center;
}

.flex_bet{
    justify-content: space-between;
}


.base{
    align-items: baseline;
}

.p_abosolute {
    position: absolute;
}

.p_relative {
    position: relative;
}


.filter{
    margin-top: 70px;
    padding:1rem;
    font-size: .8rem;
    font-weight: 600;
}

.white_text {
    color:white;
}

.gray_text {
    color:gray;
}

.upgrade button {
    color: white;
    background: none;
    padding: 0 2rem;
    height: 2.5rem;
    border: 1px solid white;
    border-radius: 25px;
    font-size: .8rem;
    text-transform: uppercase;
    align-self: center;
}

.upgrade button:hover{
    transform: scale(1.1);

}


nav {
    margin-top: .5rem;
    padding: .5rem;
}

.filter ul li {
    list-style: none;
    display: inline;
    padding: .8rem;
    text-transform: uppercase;
    color:gray;
}

 ul li {
    list-style: none;
    display: inline;
    padding: .3rem 0;
    color:#5C5C5C;
}

/* ul li span:hover {
    color:white;
} */



ul li span {
    padding-left: 0.5rem;
    font-size: .8rem;
    vertical-align: text-top;
    font-weight: 700;
    /* color:#5C5C5C; */
}
ul li img {
    margin-left: 0.5rem;

}


/* img {
    fill:#5C5C5C;
} */





/* .playlist_menu{
    overflow: auto;
    height: 40vh;
} */



nav.home_menu ul li:first-child {
    display: none;
}



.download_icon {
    width: 1rem;
    margin: 0 .5rem;
    filter: brightness(0.5);
}

.user_icon {
    height: 2rem;
    margin-right: 0.2rem;
    background-color: #7a7c82;
    padding: 0.2rem 0.3rem;
    border-radius: 50%;
    vertical-align: middle;
    
}

.download_menu > span {
    color: #5C5C5C;
    font-size: .7rem;
    font-weight: 700;
    vertical-align: text-top;

}



.user_menu > span {
    color: white;
    font-size: 1rem;
    font-weight: 700;

}

.line{
    width: 100%;
    height: 1px;
    background-color: #5C5C5C;
    margin-bottom: 1rem;
}



.overlay {
    position: absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

div.overlay i {
    color: white;
    
}



.play_hover:hover .overlay {
    background-color: rgba(0,0,0, 0.5);
   

} 

.play_hover .overlay i {
    display: none;
}


.play_hover:hover .overlay i {
    display: inline;
}


.hover_white:hover {
    color: white;
}

 path {
    font-size: 20px;
}



.playlist{
    color:white;
    font-weight: 800;
    text-transform: uppercase;
    padding: 0 0.5rem 0;
    
}

.add_icon{
    padding-left: 0.5rem;
    font-size: 40px;

}


.add_playlist{
    vertical-align: super;


}


.little_nav {
    position: absolute;
    left: 0;
    bottom: 90px;
    width: 200px;
    background: black;
    padding: 1rem;
}


header{
    width: 200px;
    height: calc(100vh - 90px);
    background-color: black;
}

.main_logo { 
    width: 170px;
    /* height: 100% */;
    padding: 1rem;
}


ul li img {
    width: 20px;
}

main{
    width: calc(100% - 200px);
    height: calc(100vh - 90px);
    background-color: #141922;
    overflow-y: scroll;
}


.upgrade{
    width: calc(100% - 200px);
    height: 76px;
    background-color: black;
    padding: 1rem;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}



.played,
.created,
.pop {
    padding: 1rem;
}

.wrapper {
    width: 100%;

}

.title {
    margin-bottom: 1rem;
    
}



.album img {
    width: 100%;
}

.album h4{
    padding-top: .5rem;
}

.album p{
    padding-top: .5rem;
}

.album,
.album_created,
.album_pop{
    /*  width: 160px; */
     margin: .5rem;
     width: calc(100% / 6 - 1rem);
 }
 .album_created img {
    width: 100%;
}


 .album_pop img {
    width: 100%;
}




.rounded {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    width: 160px;
    height: 160px;

}
.rounded img{
    width:100%;
    height:100%;
    object-fit: cover;
  }



footer{
    height: 90px;
    width: 100vw;
    background-color: #282828;
    padding: 1rem 0.5rem;
}

.img_playing img {
    height: 3.5rem;
    margin-right: 1rem;
}

.name_song {
    display: inline-block;
    color:white;
}

.name_song p {
    color:#5C5C5C;
    font-size: 0.8rem;

}



.like_icon {
    padding-left: 2rem;
    font-size: 1.2rem;
    color:#7a7c82;  
}

.like_icon i {
    padding-right: 0.8rem;
    transition: all 0.3s;
}

.like_icon i:hover {
    color: white;
}














/* Media Query */

/* L */
@media (max-width: 992px) { 

    .wrapper{
        flex-wrap: wrap;
    
     }


     div.filter ul {
        text-align: center;
    }
     .album,
     .album_created,
     .album_pop{
        width: calc(100% / 4 - 1rem);
        margin: .5rem;
     }
    
 }





/* MD */
@media (max-width: 768px) { 

     .wrapper{
        flex-wrap: wrap;
    


        
     }



     div.filter ul {
        text-align: center;
    }


     .album,
     .album_created,
     .album_pop{
        width: calc(100% / 2 - 1rem);
        margin: .5rem;
     }
 }



/* S */
@media (max-width: 576px) { 

    .wrapper,
    .filter{
        flex-wrap: wrap;
    
     }
     div.filter ul {
        text-align: center;
    }

     .album,
     .album_created,
     .album_pop{
        width: calc(100% / 2 - 1rem);
        margin: .5rem;
     }
    
 }



/* XS */
@media (max-width: 576px) { 


    .upgrade{
        width: calc(100% - 60px);
    }

    div.filter ul {
        text-align: center;
    }
    
    header{
        width: 60px;
    
    }
    
    main{
        width: calc(100% - 60px);
    }

    .wrapper_content,
    .filter{
        flex-wrap: wrap;
    
     }

     .album,
     .album_created,
     .album_pop{
        width: calc(100% / 2 - 1rem);
        margin: .5rem;
     }

    nav.home_menu ul li span {
        display: none;
        align-items: center;
    }

    .home_menu ul {
        align-items: center;
    }

    ul li img {
        margin-left: 0;
    }

    .playlist_menu {
        display: none;
    }

    .little_nav {
        background: none;
    }

    .little_nav span {
        display: none;
    }

    .line {
        display:none;
    }

    nav.home_menu ul li:first-child {
        display: block;
    }

    div.main_logo a img {
        display: none;
    }


    nav {
        margin-top: -2rem;
    }

}



  @media (max-height: 680px) {
    
    .list {
        overflow: auto;
        height: 200px;
    }
    

}